services:
     nginx:
          image: nginx:alpine
          container_name: nginx-files-server
          restart: always
          ports:
             - "80:80"
          env_file:
             - .env
          environment:
             - USERNAME=${USERNAME}
             - PASSWORD=${PASSWORD}
          volumes:
             - ./nginx/templates:/etc/nginx/templates
             - ./nginx/create_htpasswd.sh:/docker-entrypoint.d/99-create-htpasswd.sh
             - ./files:/usr/share/nginx/html

     cloudflared:
          image: cloudflare/cloudflared:latest
          container_name: cloudflared
          restart: always
          environment:
             - TUNNEL_TOKEN=${CLOUDFLARE_TUNNEL_TOKEN}
          command: tunnel run
          volumes:
             - ./cloudflared:/etc/cloudflared

     qbittorrent:
          image: lscr.io/linuxserver/qbittorrent:latest
          container_name: qbittorrent
          restart: always
          environment:
             - PUID=1000
             - PGID=1000
             - TZ=Asia/Bangkok
             - WEBUI_PORT=8080
             - TORRENTING_PORT=6881
          ports:
             - "6881:6881"
             - "6881:6881/udp"
          volumes:
             - ./qbittorrent/config:/config
             - ./files:/downloads

     filebrowser:
          image: filebrowser/filebrowser:latest
          container_name: filebrowser
          restart: always
          user: 1000:1000
          volumes:
             - ./files:/srv
             - ./filebrowser/filebrowser.db:/database.db
             - ./filebrowser/settings.json:/config/settings.json
          command: -c /config/settings.json
          environment:
             - FB_BASEURL=/manage
